<div>
    <h2>
        <span jhiTranslate="trialslinkApp.trialImport.home.title">Trial Imports</span>
        <button class="btn btn-primary float-right jh-create-entity create-trial-import" [routerLink]="['/', { outlets: { popup: ['trial-import-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="trialslinkApp.trialImport.home.createLabel">
            Create new Trial Import
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="trialImports">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="source"><span jhiTranslate="trialslinkApp.trialImport.source">Source</span> <span class="fa fa-sort"></span></th>
            <th class="align-middle" jhiSortBy="sourceIdentifier"><span jhiTranslate="trialslinkApp.trialImport.sourceIdentifier">Source Identifier</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span jhiTranslate="trialslinkApp.trialImport.status">Status</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let trialImport of trialImports ;trackBy: trackId">
                <td jhiTranslate="{{'trialslinkApp.TrialImportSource.' + trialImport.source}}">{{trialImport.source}}</td>
                <td class="align-middle">
                    <span *ngIf="! trialImport.sourceIdentifier">Not Applicable</span>
                    <span *ngIf="trialImport.sourceIdentifier">{{trialImport.sourceIdentifier}}</span>
                </td>
                <td>
                    <span *ngIf="trialImport.status.toString() === 'IN_PROGRESS'" class="badge badge-info">{{trialImport.status}}</span>
                    <span *ngIf="trialImport.status.toString() === 'COMPLETE'" class="badge badge-success">{{trialImport.status}}</span>
                    <span *ngIf="trialImport.status.toString() === 'FAILED'" class="badge badge-danger">{{trialImport.status}}</span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../trial-import', trialImport.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <!--<button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'trial-import/'+ trialImport.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'trial-import/'+ trialImport.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
<<<<<<< HEAD
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>-->
=======
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
>>>>>>> jhipster_upgrade
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="trialImports && trialImports.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
