<div class="card trial-details-jumbo">
    <h3 class="card-header trial-title">Contact Us</h3>
    <div class="card-body">
        <p><span>Dr Wai Keong Wong, Chief Research Information Officer at UCLH</span><br>
            <a href="mailto:w.wong@nhs.net">w.wong@nhs.net</a>
        </p>

        <p><span>Dr Ruth Agbakoba, Project Engagement Lead for ‘Find A Study’ at UCLH</span><br>
            <a href="mailto:ruth.agbakoba@nhs.net">ruth.agbakoba@nhs.net</a>
        </p>
    </div>
</div>
