<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTrialCentreLabel" jhiTranslate="trialslinkApp.trialCentre.home.createOrEditLabel">Create or edit a Trial Centre</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="trialslinkApp.trialCentre.name" for="field_name">Name</label>
            <ng-select class="form-control" name="name" id="field_name" [multiple]="false"
                       [items]="locations"
                       (selected)="selectedLocation($event)"
                       placeholder="{{trialCentre.name}}" required>
            </ng-select>
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="trialslinkApp.trialCentre.startDate" for="field_startDate">Start Date</label>
            <div class="d-flex">
                <input id="field_startDate" type="datetime-local" class="form-control" name="startDate" [(ngModel)]="trialCentre.startDate"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="trialslinkApp.trialCentre.endDate" for="field_endDate">End Date</label>
            <div class="d-flex">
                <input id="field_endDate" type="datetime-local" class="form-control" name="endDate" [(ngModel)]="trialCentre.endDate"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="trialslinkApp.trialCentre.status" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="trialCentre.status" id="field_status"  required>
                <option value="RECRUITING" jhiTranslate="trialslinkApp.TrialStatus.RECRUITING">RECRUITING</option>
                <option value="SUSPENDED" jhiTranslate="trialslinkApp.TrialStatus.SUSPENDED">SUSPENDED</option>
                <option value="STOPPED" jhiTranslate="trialslinkApp.TrialStatus.STOPPED">STOPPED</option>
                <option value="COMPLETED" jhiTranslate="trialslinkApp.TrialStatus.COMPLETED">COMPLETED</option>
                <option value="DRAFT" jhiTranslate="trialslinkApp.TrialStatus.DRAFT">DRAFT</option>
                <option value="NOT_YET_RECRUITING" jhiTranslate="trialslinkApp.TrialStatus.NOT_YET_RECRUITING">NOT_YET_RECRUITING</option>
                <option value="ENROLLING_BY_INVITATION" jhiTranslate="trialslinkApp.TrialStatus.ENROLLING_BY_INVITATION">ENROLLING_BY_INVITATION</option>
                <option value="ACTIVE_NOT_RECRUITING" jhiTranslate="trialslinkApp.TrialStatus.ACTIVE_NOT_RECRUITING">ACTIVE_NOT_RECRUITING</option>
                <option value="TERMINATED" jhiTranslate="trialslinkApp.TrialStatus.TERMINATED">TERMINATED</option>
                <option value="WITHDRAWN" jhiTranslate="trialslinkApp.TrialStatus.WITHDRAWN">WITHDRAWN</option>
                <option value="UNKNOWN" jhiTranslate="trialslinkApp.TrialStatus.UNKNOWN">UNKNOWN</option>
            </select>
            <div [hidden]="!(editForm.controls.status?.dirty && editForm.controls.status?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.status?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
            </div>
        </div>
        <!--<div class="form-group">-->
            <!--<label class="form-control-label" jhiTranslate="trialslinkApp.trialCentre.days" for="field_days">Days</label>-->
            <!--<ng-select class="form-control"  [multiple]="true"-->
                       <!--[items]="knownDays"-->
                       <!--(selected)="selectedDay($event)"-->
                       <!--(removed)="removedDay($event)"-->
                       <!--placeholder="{{trialCentre.days}}">-->
            <!--</ng-select>-->
        <!--</div>-->

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
