<div class="row">
    <div [ngClass]="{'col-md-3': brand!='uclh', 'd-none':brand=='uclh' }">
        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success trial-details-jumbo" *ngSwitchCase="true">
                <span *ngIf="account" jhiTranslate="home.logged.message"
                    translateValues="{username: '{{account.login}}'}"> You are logged in as user "{{account.login}}". </span>
                <div>
                    Click here to view
                    <br>
                    <a routerLink="saved-search">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <span jhiTranslate="global.menu.entities.savedSearch">Saved Search</span>es
                    </a>
                </div>
            </div>

            <div class="alert alert-warning trial-details-jumbo" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign
                    in</a><span jhiTranslate="global.messages.info.authenticated.suffix"> here.</span>
            </div>
            <div class="alert alert-warning trial-details-jumbo" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>
                <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
            </div>
        </div>
        <!--<div class="card trial-details-jumbo">
            <h3 class="card-header trial-title">Find trials at</h3>
            <div class="card-body">
                <p class="card-text">We have trials being offered in the following locations</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a class="alert-link" [routerLink]="['trial']" [queryParams]="{locations: '59710bd04e04b32b85bee652'}">University College Hospitals</a></li>
                <li class="list-group-item"><a class="alert-link" [routerLink]="['trial']" [queryParams]="{locations: '59710bca4e04b32b85bee58a'}">Barts Health</a></li>
                <li class="list-group-item"><a class="alert-link" [routerLink]="['trial']" [queryParams]="{locations: '59710bce4e04b32b85bee618'}">Royal Free Hospital</a></li>
            </ul>
            <div class="card-footer">
                <a routerLink="trial" class="btn btn-success">Browse</a>
            </div>
        </div>-->
        <br/>
        <div class="card trial-details-jumbo">
            <h3 class="card-header trial-title">Mobile App</h3>
            <a href="https://play.google.com/store/apps/details?id=com.termlex.trialslex&hl=en_GB" target="_blank">
                <img class="card-img-bottom" src="../../content/images/google-play-badge.png" alt="Play store">
            </a>
            <div class="card-body">
                <p class="card-text">An iOS is coming soon!</p>
            </div>
        </div>
    </div>
    <div [ngClass]="{'col-md-9': brand!='uclh', 'col-md-12':brand=='uclh' }">
        <div class="card trial-details-jumbo margin-bottom-15">
            <div class="card-body">
                <h1 class="display-4" jhiTranslate="home.heading">Trialslink!</h1>

                <p class="lead" >
                    <span jhiTranslate="home.subtitle">a clinical trials discovery platform</span>
                    <span jhiTranslate="global.messages.info.trials.find">If you want to </span>
                    <a routerLink="trial" class="btn btn-warning btn-lg">Search All</a>
                </p>
            </div>
        </div>
            <div class="card trial-details-jumbo">
                <h3 class="card-header trial-title">Click on disease area below to view associated studies</h3>
                <div class="card-body d-none d-md-block">
                    <ngx-charts-bar-horizontal
                            [view]="view"
                            [scheme]="colorScheme"
                            [results]="pieData"
                            [gradient]="gradient"
                            [xAxis]="showXAxis"
                            [yAxis]="showYAxis"
                            [legend]="showLegend"
                            [showXAxisLabel]="showXAxisLabel"
                            [showYAxisLabel]="showYAxisLabel"
                            [trimYAxisTicks]="trimYAxisTicks"
                            [maxYAxisTickLength]="maxYAxisTickLength"
                            [xAxisLabel]="xAxisLabel"
                            [yAxisLabel]="yAxisLabel"
                            (select)="onSelect($event.extra)">
                    </ngx-charts-bar-horizontal>
                </div>
                <div class="card-body d-block d-md-none">
                    <mat-nav-list>
                        <a mat-list-item (click)="onSelect(link.extra)" *ngFor="let link of pieData"> {{ link.name }} </a>
                    </mat-nav-list>
                </div>
            </div>
    </div>
</div>
