
<div *ngIf="savedSearch">
    <h2><span jhiTranslate="trialslinkApp.savedSearch.detail.title">Saved Search</span> {{savedSearch.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="trialslinkApp.savedSearch.createdAt">Created At</span></dt>
        <dd>
            <span>{{savedSearch.createdAt | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="trialslinkApp.savedSearch.updatedAt">Updated At</span></dt>
        <dd>
            <span>{{savedSearch.updatedAt | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="trialslinkApp.savedSearch.url">Url</span></dt>
        <dd>
            <span>{{savedSearch.url}}</span>
        </dd>
        <dt><span jhiTranslate="trialslinkApp.savedSearch.hash">Hash</span></dt>
        <dd>
            <span>{{savedSearch.hash}}</span>
        </dd>
        <dt><span jhiTranslate="trialslinkApp.savedSearch.createdBy">Created By</span></dt>
        <dd>
            <span>{{savedSearch.createdBy}}</span>
        </dd>
        <dt><span jhiTranslate="trialslinkApp.savedSearch.shouldNotify">Should Notify</span></dt>
        <dd>
            <span>{{savedSearch.shouldNotify}}</span>
        </dd>
        <dt><span jhiTranslate="trialslinkApp.savedSearch.title">Title</span></dt>
        <dd>
            <span>{{savedSearch.title}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'saved-search/'+ savedSearch.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
