<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTrialLabel" jhiTranslate="trialslinkApp.trial.home.createOrEditLabel">Create or edit a Trial</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="trialslinkApp.trial.title" for="field_title">Official Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                [(ngModel)]="trial.title" required/>
            <div [hidden]="!(editForm.controls.title?.dirty && editForm.controls.title?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.title?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="trialslinkApp.trial.briefTitle" for="field_briefTitle">Display Title</label>
            <input type="text" class="form-control" name="briefTitle" id="field_briefTitle"
                [(ngModel)]="trial.briefTitle" required/>
            <div [hidden]="!(editForm.controls.briefTitle?.dirty && editForm.controls.briefTitle?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.briefTitle?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="trialslinkApp.trial.status" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="trial.status" id="field_status"  required>
                <option value="RECRUITING">{{'trialslinkApp.TrialStatus.RECRUITING' | translate}}</option>
                <option value="SUSPENDED">{{'trialslinkApp.TrialStatus.SUSPENDED' | translate}}</option>
                <option value="STOPPED">{{'trialslinkApp.TrialStatus.STOPPED' | translate}}</option>
                <option value="COMPLETED">{{'trialslinkApp.TrialStatus.COMPLETED' | translate}}</option>
                <option value="DRAFT">{{'trialslinkApp.TrialStatus.DRAFT' | translate}}</option>
                <option value="NOT_YET_RECRUITING">{{'trialslinkApp.TrialStatus.NOT_YET_RECRUITING' | translate}}</option>
                <option value="ENROLLING_BY_INVITATION">{{'trialslinkApp.TrialStatus.ENROLLING_BY_INVITATION' | translate}}</option>
                <option value="ACTIVE_NOT_RECRUITING">{{'trialslinkApp.TrialStatus.ACTIVE_NOT_RECRUITING' | translate}}</option>
                <option value="TERMINATED">{{'trialslinkApp.TrialStatus.TERMINATED' | translate}}</option>
                <option value="WITHDRAWN">{{'trialslinkApp.TrialStatus.WITHDRAWN' | translate}}</option>
                <option value="UNKNOWN">{{'trialslinkApp.TrialStatus.UNKNOWN' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.status?.dirty && editForm.controls.status?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.status?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="trialslinkApp.trial.type" for="field_type">Type</label>
            <select class="form-control" name="type" [(ngModel)]="trial.type" id="field_type"  required>
                <option value="INTERVENTIONAL">{{'trialslinkApp.StudyType.INTERVENTIONAL' | translate}}</option>
                <option value="OBSERVATIONAL">{{'trialslinkApp.StudyType.OBSERVATIONAL' | translate}}</option>
                <option value="PATIENT_REGISTRY">{{'trialslinkApp.StudyType.PATIENT_REGISTRY' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.type?.dirty && editForm.controls.type?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.type?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="trialslinkApp.trial.phase" for="field_phase">Phase</label>
            <ng-select class="form-control" name="phase" id="field_phase" [multiple]="true"
                       [items]="phases"
                       (selected)="selectedPhase($event)"
                       (removed)="removedPhase($event)"
                       [active]="existingPhases">
            </ng-select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="trialslinkApp.trial.shortName" for="field_shortName">ShortName</label>
            <input type="text" class="form-control" id="field_shortName"
                   (ngModelChange)="search($event)"
                   placeholder="Enter short name" value="trial.shortName"
                   [ngModel]="trial.shortName" name="shortName">
            <div class="form-control-feedback" *ngIf="shortNameExists">Sorry, short name is already in use.</div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="trialslinkApp.trial.chiefInvestigator" for="field_chief_investigator">Chief Investigator</label>
            <input type="text" class="form-control" id="field_chief_investigator"
                   placeholder="Enter Chief Investigator name" value="trial.chiefInvestigator.personName"
                   [(ngModel)]="trial.chiefInvestigator.personName" name="chiefInvestigator">
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="trialslinkApp.trial.briefSummary" for="field_briefSummary">Brief Summary</label>
            <textarea rows="4" cols="50"  class="form-control" name="briefSummary" id="field_briefSummary"
                      [(ngModel)]="trial.briefSummary"
                      required></textarea>
            <div [hidden]="!(editForm.controls.briefSummary?.dirty && editForm.controls.briefSummary?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.briefSummary?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="trialslinkApp.trial.detailedDescription" for="field_detailedDescription">Detailed Description</label>
            <textarea rows="4" cols="50"  class="form-control" name="detailedDescription" id="field_detailedDescription"
                      [(ngModel)]="trial.detailedDescription"
                    ></textarea>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="trialslinkApp.trial.description" for="field_description">Description</label>
            <textarea rows="4" cols="50" class="form-control" name="description" id="field_description"
                [(ngModel)]="trial.description"></textarea>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="trialslinkApp.trial.startDate" for="field_startDate">Start Date</label>
            <div class="d-flex">
                <input id="field_startDate" type="datetime-local" class="form-control" name="startDate" [(ngModel)]="trial.startDate"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="trialslinkApp.trial.studyCompletionDate" for="field_studyCompletionDate">Study Completion Date</label>
            <div class="d-flex">
                <input id="field_studyCompletionDate" type="datetime-local" class="form-control" name="studyCompletionDate" [(ngModel)]="trial.studyCompletionDate"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="trialslinkApp.trial.reasonStopped" for="field_reasonStopped">Reason Stopped</label>
            <input type="text" class="form-control" name="reasonStopped" id="field_reasonStopped"
                [(ngModel)]="trial.reasonStopped" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="trialslinkApp.trial.note" for="field_note">Note</label>
            <input type="text" class="form-control" name="note" id="field_note"
                [(ngModel)]="trial.note" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="trialslinkApp.trial.keywords" for="field_keyword">Keywords</label>
            <tag-input class="form-control" name="keywords" id="field_keyword" theme="bootstrap" [(ngModel)]="trial.keywords"
                        modelAsStrings="true" placeholder="Enter a keyword"></tag-input>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
