
<div *ngIf="contact">
    <h2><span jhiTranslate="trialslinkApp.contact.detail.title">Contact</span> {{contact.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="trialslinkApp.contact.phone">Phone</span></dt>
        <dd>
            <span>{{contact.phone}}</span>
        </dd>
        <dt><span jhiTranslate="trialslinkApp.contact.personName">Person Name</span></dt>
        <dd>
            <span>{{contact.personName}}</span>
        </dd>
        <dt><span jhiTranslate="trialslinkApp.contact.email">Email</span></dt>
        <dd>
            <span>{{contact.email}}</span>
        </dd>
        <dt><span jhiTranslate="trialslinkApp.contact.purpose">Role</span></dt>
        <dd>
            <span>{{contact.role.name}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'contact/'+ contact.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
